.btn{

	background: transparent;
	color: #F2F2F2;

	/* CSS Transition */
	-webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
	-moz-transition: background .2s ease-in-out, border .2s ease-in-out;
	-ms-transition: background .2s ease-in-out, border .2s ease-in-out;
	-o-transition: background .2s ease-in-out, border .2s ease-in-out;
	transition: background .2s ease-in-out, border .2s ease-in-out;

}

.list-group-item{

	background: transparent;
	color: #F2F2F2;

	/* CSS Transition */
	-webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
	-moz-transition: background .2s ease-in-out, border .2s ease-in-out;
	-ms-transition: background .2s ease-in-out, border .2s ease-in-out;
	-o-transition: background .2s ease-in-out, border .2s ease-in-out;
	transition: background .2s ease-in-out, border .2s ease-in-out;

}

.list-group-item .active {
	color: #F2F2F2;
}


body {

	background: url(/image/science-world.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-left{
	margin-left: 50px;
	margin-top: 300px;
}

.main-panel {
	margin-top: 300px;
	margin-bottom: 120px;
}

.panel{
	text-shadow: none; /* Prevent inheritence from `body` */
}

.panel-body{
	color: #222;
	text-align: left;
}

.panel-body a:link{
    color:#000;
}

.panel-body a:visited{
    color:#000;
}

.panel-body a:hover{
    color:#000;
}

.panel-body a:active{
    color:#000;
}

#toggle-footer {
  width: 32px;
  height: 32px;
  font-size: 2.0em;
	text-shadow: none; /* Prevent inheritence from `body` */
	display:none;
}

#hideable-footer {
	display: none;
	text-shadow: none; /* Prevent inheritence from `body` */
}


@media (max-width: 978px) {
	.main-panel {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.navbar-left{
		margin-left: 0px;
		margin-top: 0px;
	}

	#hideable-footer {
	  display:inline;
	}

}


/**
 * Icons
 */
.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
