img {
	display: block;
	margin-left: auto;
  margin-right: auto;
  max-width:100%;
	max-height:100%;
}

body {

	background: url(/image/science-world.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-panel {
	margin-top: 300px;
	margin-bottom: 120px;
}

.panel {
	text-shadow: none; /* Prevent inheritence from `body` */
}

.panel-body {
	color: #222;
	text-align: left;
}

.panel-body a:link {
    color:#0645AD;
		text-decoration: none;
}

.panel-body a:visited {
    color:#0B0080;
		text-decoration: none;
}

.panel-body a:hover {
    color:#3366BB;
		text-decoration: underline;
}

.panel-body a:active {
    color:#3366BB;
		text-decoration: underline;
}

h4.modal-title,
div.modal-footer {
	text-shadow: none;
	color:#222;
}

div.thumbnail {
	width: 100%;
    height: 350px;
    overflow: auto;
}

div.thumbnail img{
	width: 100%;
    height: 150px;
    overflow: auto;
}

div.thumbnail .caption{
	width: 100%;
    height: 200px;
    overflow: auto;
}


#toggle-footer {
  width: 32px;
  height: 32px;
  font-size: 2.0em;
	text-shadow: none; /* Prevent inheritence from `body` */
	display:none;
}

#hideable-footer {
	display: none;
	text-shadow: none; /* Prevent inheritence from `body` */
}


@media (max-width: 978px) {
	.main-panel {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.navbar-left{
		margin-left: 0px;
		margin-top: 0px;
		position: static;
	}

	#hideable-footer {
	  display:inline;
	}

}


/**
 * Icons
 */
.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
