.btn{

	background: transparent;
	color: #F2F2F2;

	/* CSS Transition */
	-webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
	-moz-transition: background .2s ease-in-out, border .2s ease-in-out;
	-ms-transition: background .2s ease-in-out, border .2s ease-in-out;
	-o-transition: background .2s ease-in-out, border .2s ease-in-out;
	transition: background .2s ease-in-out, border .2s ease-in-out;

}

body {

	background: url(/image/science-world.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.list-group-item {

		background: transparent;
		color: #F2F2F2;

		color: #333;
		text-shadow: none; /* Prevent inheritence from `body` */
		border: 1px solid #fff;

		/* CSS Transition */
		-webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
		-moz-transition: background .2s ease-in-out, border .2s ease-in-out;
		-ms-transition: background .2s ease-in-out, border .2s ease-in-out;
		-o-transition: background .2s ease-in-out, border .2s ease-in-out;
		transition: background .2s ease-in-out, border .2s ease-in-out;

}

.main-panel {
	margin-top: 300px;
}

.panel {
	margin-bottom: 120px;
}

.full-img {
    width: 100%;
}

/**
 * Icons
 */
.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

#toggle-footer {
  width: 32px;
  height: 32px;
  font-size: 2.0em;
	text-shadow: none; /* Prevent inheritence from `body` */
}
