---
layout: page
title: Projects
permalink: /projects/
group: "navigation"
---
{% for project in site.projects %}
  {% assign loopindex = forloop.index | modulo: 3 %}
  {% if loopindex == 1 or forloop.first %}
<div class="row">
  {% endif %}
  <div class="col-sm-6 col-md-4">
    <a href="{{ project.url }}">
    <div class="thumbnail">
      <img src="{{ project.thumbnail | prepend: "https://jchildren.github.io/image/projects/" }}" alt="{{ project.alttext }}" height="50" width="100%">
      <div class="caption">
        <h3>{{ project.title }}</h3>
        <p>{{ project.description | truncatewords:10 }}</p>
      </div>
    </div>
    </a>
  </div>
  {% if loopindex == 0 or forloop.last %}
</div>
  {% endif %}
{% endfor %}
