  <div class="footer bar">
    <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h2>About Me</h2>
          <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
              <a href="#" class="thumbnail">
                <img src="https://avatars1.githubusercontent.com/u/10930410?v=3&s=450" alt="...">
              </a>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8">
              <p>Donec libero libero, bibendum non condimentum ac, ullamcorper at sapien.\
              Duis feugiat urna vel justo cursus facilisis. Vivamus ligula dui, convalli\
              s a varius vitae, facilisis eget magna.</p>
            </div>
          </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4">
        <h2>Recent Posts</h2>
        <ul>
          {% for post in site.categories.blog limit: 5 %}
          <h4><li><a href="{{ post.url }}">{{ post.title }}</a></li></h4>
          {% endfor %}
        </ul>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4">
        <h2>Social</h2>
        <p>
          <div class="row">
            <div class="col-xs-4 col-sm-2 col-md-2">
              <a href="https://github.com/jchildren">
                <img src="/assets/image/github/GitHub-Mark-Light-32px.png" class="img-responsive">
              </a>
            </div>

            <div class="col-xs-4 col-sm-2 col-md-2">
              <a href="https://ca.linkedin.com/in/johnchildren">
                <img src="/assets/image/linkedin/In-White-28px-R.png" class="img-responsive">
              </a>
            </div>

            <div class="col-xs-4 col-sm-2 col-md-2">
              <a href="#">
                <img src="/assets/image/twitter/Twitter_logo_white.png" class="img-responsive">
              </a>
            </div>
        </p>
      </div>
    </div>
  </div>
</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
