<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">
    <link rel="icon" href="/assets/icons/favicon.ico">

    <title>{{ site.name }}</title>

    <!-- Bootstrap core CSS -->
    <!--<link href="/assets/css/bootstrap-core/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-core/bootstrap-theme.min.css" rel="stylesheet">-->

    <!-- Custom CSS -->
    <link href="/assets/css/custom/flatly.min.css" rel="stylesheet">
    <link href="/assets/css/custom/starter-template.css" rel="stylesheet">
