body {
  padding-top: 60px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.container.main{
  padding: 30px;
}
.navigation.paginator {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.footer.bar {
  /*padding-bottom: 40px 15px;*/
  background-color: #3a3b2b;
  color: #ffffff;
}
