<!DOCTYPE html>
<html>
  {% include head.html %}

  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <img src="{{ site.baseurl }}/image/science-world.jpg" class ="full-img">
      <div class="cover-container">

        <body>


          {% include header.html %}

          <div class="page-content">
            <div class="wrapper">
              {{ content }}
            </div>
          </div>

          {% include footer.html %}

        </body>
      </div>
    </div>
  </div>
</html>
