---
layout: default
---
<header><h2 class="cover-heading">{{ page.title }}</h2></header>

<div class="panel panel-default">
<article class="panel-body">
<center><p class="lead">{{ page.date | date: "%b %-d, %Y" }}</p>
  <p><i>{% if page.tags %}{{ page.tags | array_to_sentence_string }}{% endif %}</i></p></center>
{{ content }}

<center>
<div class="row"><h4>
  {% if page.previous %}
  <a href ="{{ page.previous.url }}"><span class ="glyphicon glyphicon-menu-left"></span><span>Previous</span></a>
  {% else %}
  <span class =" glyphicon glyphicon-menu-left"></span><span>Previous</span>
  {% endif %}
  {% if page.next %}
  <a href="{{ page.next.url }}"><span>Next</span><span class ="glyphicon glyphicon-menu-right"></span></a>
  {% else %}
  <span>Next</span><span class="glyphicon glyphicon-menu-right"></span>
  {% endif %}
</h4></div>
</center>

</article>

</div>
