---
layout: default
---

<heading><h1 class="cover-heading">{{ page.title }}</h1></heading>

<div class="panel panel-default">
  <article class="panel-body">{{ content }}</article>
  <br>
  <div class="btn-group btn-group-justified" role="group" aria-label="...">
  {% if page.projectlink %}
  <a href="{{ page.projectlink }}" class="btn btn-primary" role="button">Project Link</a>
  {% endif %}
  {% if page.projectpage %}
  <a href="{{ page.projectpage }}" class="btn btn-primary" role="button">Project Page</a>
  {% endif %}
  {% if page.projectdownload %}
  <a href="{{ page.projectdownload }}" class="btn btn-primary" role="button">Download</a>
  {% endif %}
  </div>
  <br>
</div>
